/*.categoria_home>img{
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.categoria_home>img:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);    
}

.categoria_home>h2{
    position:relative;
    z-index: 20%;    
}
*/

.categoria_home{
    width: 100%;
}

.categoria_home:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); 
}

#promozioni{
    background-image: url(../images/homepage/offerte.jpg);
    background-size:cover;
}