.immagine_categoria{
    position:static;
    width: 100%;
    
}

.immagine_categoria>img{
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.immagine_categoria>img:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);    
}

.titolo_categoria{
    position:relative;
    z-index: 20;
    top:-300px;
    
}

.titolo_categoria h2{
    margin-top: 0px;
    text-align: right;
    padding-right: 5px;
    line-height: 300px;
    font: Helvetica;
    font-weight:bold;
    font-size: 32px;
}