#categoria{
    background-color: #00448F;
    text-align: right;
    width: 100%;
    height: 50px;
    margin: auto;
    color: white;
    border: 0px;
    margin-top: 0px;
}

#categoria h2{
    margin-top: 0px;
    padding-right: 1vw;
    line-height: 50px;
    font: Helvetica;
    font-weight:bold;
    font-size: 30px;
}

#titolo{

}

#bread{

}

#immagine{
    display: inline-table;
    margin: auto;
}

#box_descrizione{
    display: inline-table;
    margin: auto;
    padding-left: 10px;
}

#descrizione{
    font-size: 20px;
    text-align: left;

}

#prezzi{
    display: inline-table;
    text-align: center;

}

#vendita{
    display: inline-table;
    text-align: center;
    padding-right: 20px;
}

#prezzo_listino{
    text-decoration: line-through;
    font-size: 25px;
    color: grey;
}

#prezzo_vendita{
    font-size: 35px;
    color: red;
}

#prezzo_rate{
    color: green;
    font-size: 30px;
}

#numero_rate{
    color: green;
    font-size: 25px;
}