#categoria{
    background-color: #00448F;
    text-align: right;
    width: 100%;
    height: 50px;
    margin: auto;
    color: white;
    border: 0px;
    margin-top: 0px;
}

#categoria h2{
    margin-top: 0px;
    padding-right: 1vw;
    line-height: 50px;
    font: Helvetica;
    font-weight:bold;
    font-size: 30px;
}

.link_cat:hover,
.link_cat:focus,
.link_cat:active{
    text-decoration: none;
}


h3 {
    color: #00448F;
    margin-left: 30px;
    margin-bottom: 0px;
}

.contenitore_promozioni{
    margin: auto;
    padding: 0px 10px 25px 10px;
    width:100%;
}

.contenitore_singolo{
    margin-left: 20px;
    margin-top: 25px;
    padding: 25px 15px 10px 15px;
    border: 1px solid grey;
    width: 400px;
    max-width: 95%;
    height: 200px;
    border-radius: 5px;
    display: inline-table;
    text-align:center;
}

.contenitore_singolo:hover,
.contenitore_singolo:active,
.contenitore_singolo.focus{
    border: 2px solid red;
}

.contenuto{
    width: 180px;
    height: 100%;
    display: inline-table;
    text-align: center;
    vertical-align:middle;
}

.prezzo{
    font-size: 2em;
    text-align: center;
    color: #00448F;
}
