#categoria{
    background-color: #00448F;
    text-align: right;
    width: 100%;
    height: 50px;
    margin: auto;
    color: white;
    border: 0px;
    margin-top: 0px;
}

#sfondo{
    width: 100%;
    height: 50vw;
    background-image: url("../images/smart_life/casa_e_famiglia/tim_tag/tim-tag-sfondo.png");
    background-size: cover;
    padding-top: 32.76vw;
    padding-left: 30vw;
   
}

#riquadro_bianco{
    width: 30vw;
    height: 17.24vw;
    background-color: white;
}


.contenitore_singolo{
    padding: 5vw 3vw 2vw 3vw;
    width: 30vw;
    max-width: 80vw;
    height: 17.24vw;
    border-radius: 5px;
    display: inline-table;
    text-align:center;
}

.contenuto{
    width: 45%;
    height: 100%;
    display: inline-table;
    text-align: center;
    vertical-align:middle;
}

#prezzo_intero{
    font-size: 1vw;
}

.prezzo{
    font-size: 2vw;
    text-align: center;
    color: red;
}

.button{
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    width: 10vw;
    height: 5vw;
    background-position: center;
    margin:0 auto;
    padding-top: 1.75vw;
}

.button>p{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.25vw;
    font: Helvetica;
}

.button:hover,
.button:focus,
.button:active{
    border: 1px solid #00448F;
    border-radius: 5px;
}

.nav-tabs{
    background-color: gainsboro;
}

#home{
    text-align: center;
}

#home>h2{
    color: #00448F;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
}

#home>h3{
    color: black;
    text-align: center;
    font-size: 2vw;
}

.embed-responsive-16by9{
    margin-left: 18vw;
    margin-right: 18vw;
    height:36vw;
    padding-bottom:5vw;
}
